@font-face {
  font-family: 'Gilroy Medium';
  src: url('/public/fonts/Gilroy-Medium.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Medium';
  src: url('/public/fonts/Gilroy-Medium.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Regular';
  src: url('/public/fonts/Gilroy-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Regular';
  src: url('/public/fonts/Gilroy-Regular.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}